@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.type1-Normal,
.type2-Normal {
    color: #aa9
}

.type1-Fire,
.type2-Fire {
    color: #f42
}

.type1-Water,
.type2-Water {
    color: #39f
}

.type1-Electric,
.type2-Electric {
    color: #fc3
}

.type1-Grass,
.type2-Grass {
    color: #7c5
}

.type1-Ice,
.type2-Ice {
    color: #6cf
}

.type1-Fighting,
.type2-Fighting {
    color: #b54
}

.type1-Poison,
.type2-Poison {
    color: #a59
}

.type1-Ground,
.type2-Ground {
    color: #db5
}

.type1-Flying,
.type2-Flying {
    color: #89f
}

.type1-Psychic,
.type2-Psychic {
    color: #f59
}

.type1-Bug,
.type2-Bug {
    color: #ab2
}

.type1-Rock,
.type2-Rock {
    color: #ba6
}

.type1-Ghost,
.type2-Ghost {
    color: #66b
}

.type1-Dragon,
.type2-Dragon {
    color: #76e
}

.type1-Dark,
.type2-Dark {
    color: #754
}

.type1-Steel,
.type2-Steel {
    color: #aab
}

.type1-Fairy,
.type2-Fairy {
    color: #e9e
}


:root {
    --black: #08090C;
    --red: #BB0A21;
    --white: #FFF8F0;
    --cadet-blue: #56A3A6;
    --cadet: #4F6D74;
    --lightgrey: #d3d3d3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--lightgrey);
}

nav,
main {
    padding: 1% 5% 1% 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    height: 80px;
    border-bottom: solid 5px var(--red);
}

#logo {
    max-width: 8rem;
    max-height: 3.5rem;
}


ul,
.corpo li {
    z-index: -1;
    list-style: none;
}

#csv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nome,
.position {
    text-align: center;
    display: block;
}

footer {
    text-align: center;
    border-top: solid 5px var(--red);
    padding: 0.5rem 0;
    color: var(--white);
    background-color: var(--black);
}

p {
    text-align: center;
}

[show=false] img {
    filter: brightness(0)
}

[show=false]>.nome {
    visibility: hidden;
}

[show=true] {
    display: block
}

input[type=text] {
    z-index: 2;
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-sizing: border-box;
}

.list-items {
    z-index: 2;
    padding: 10px 5px;
    background-color: var(--white);
}

.list-items:hover {
    z-index: 2;
    background-color: #dddddd;
}