
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif
}

body {
    height: 100vh;
    background-color: lightgray;
}

header {
    background-color: #08090c;
    height: 80px;
    border-bottom: solid 5px #bb0a21;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    display: flex;
    align-items: left;
    height: 80px;
    padding: 15px;
}

.logo img {
    height: 100%;
}

form {
    width: 500px;
    height: 100%;
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
}

input[type="text"] {
    display: flex;
    width: 50%;
    padding: 15px 10px;
    border: none;
    outline: none;
    border-radius: 15px 15px 0px 0px;
    background-color: #ffffff;
    font-size: 16px;
}

ul {
    list-style: none;
}

.list {
    width: 50%;
    background-color:rgb(255, 255, 255,.5);
    border-radius: 0 0 5px 5px;
    color:rgb(0,0,0,.5)
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover {
    background-color: #dddddd;
}

.corpo li {
    /* display:flex; */
    /* border:solid 1px black; */
    display: inline-block;
    list-style: none;
    /* text-align: center; */
    width: 200px;
    height: 200px;
    /* align-items: flex-end; */

}

.corpo img {
    display: flex;
    width: 90%;
    /* align-content: flex-start; */
    /* justify-content: center;
    align-items: center; */
    margin: auto;
    display: block;
}

.nome {
    display: flex;
    width: 100%;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}